/*PÁGINA DE CANTOS*/
p:first-of-type {
	margin-top: 1.4em!important;
}

p {
	font-size: 100%;
	color: rgba(0,0,0,0.6);
	padding: .3em 2em;
	margin-top: 0;
	text-align: justify;
}

.header {
	/*margin-top: 10%; */
	height: 200px;
	
	background-size: cover;
    background-position: center;
	
    position:relative;
}

div.cqs-header-1 {
	background:url("../img/cqs-header-1.jpg");
	background-size: cover;
    background-position: center;
}

div.cqs-header-2 {
	background-image:linear-gradient(to bottom,rgba(30, 42, 57,.6) 0,rgba(10, 11, 12,.3) 100%), url("../img/cqs-header-2.jpg");
}

div.md3-header-1::after {
	background-image:linear-gradient(to bottom,rgba(30, 42, 57,.6) 0,rgba(10, 11, 12,.3) 100%);
}

div.md3-header-1 {
	background-image: url("../img/IMG_37232.jpg");
}

div.md3-header-2 {
	background-image:linear-gradient(to bottom,rgba(30, 42, 57,.6) 0,rgba(10, 11, 12,.3) 100%), url("../img/md-header-1.jpg");	
}